<script>
  function allowViewScenarioParameters() {
    document
      .getElementById("parameters-accordion")
      .querySelectorAll(".accordion-button[disabled]")
      .forEach((button) => {
        button.removeAttribute("disabled")
        button.dataset.toDisable = true
      })
  }

  function disallowRenderLayout() {
    document
      .getElementById("parameters-accordion")
      .querySelectorAll(".accordion-button[data-to-disable=true]")
      .forEach((button) => {
        button.setAttribute("disabled", true)
      })
  }

  function renderLayoutPressed(button) {
    BtnLoading(button)
    renderLayout()
    BtnReset(button)
  }

  function scenarioIs2d(){
    const is2d = document.getElementById("is2d").checked
    return is2d
  }

  function renderLayout() {
    showLoading("Rendering Layout...")
    disallowRunSimulation()
    clearPlotArea()

    const is2d = scenarioIs2d()
    const scenarioParams = getScenarioParams()
    const transducersParams = getTransducersParams()
    const targetParams = getTargetParams()
    const simulationSettingsParams = getSimulationSettingsParams()
    const displaySettingsParams = is2d ? null : getDisplaySettingsParams()

    const data = {
      is2d,
      scenarioSettings: scenarioParams,
      transducers: transducersParams,
      target: targetParams,
      simulationSettings: simulationSettingsParams,
      displaySettings: displaySettingsParams,
    }
    const url = "{{ url_for('main.render_layout') }}"
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.text())
      .then((text) => {
        document.getElementById("plotArea").innerHTML = text
        allowRunSimulation()
        hideLoading()
      })
  }

  function collapseParameters(){
    // close all accordion items
    const accordion = document.getElementById('parameters-accordion');
    const myCollapse = accordion.getElementsByClassName('collapse')[0];
    const bsCollapse = new bootstrap.Collapse(myCollapse, {
      toggle: true
    });
  }

  function changeSimulationType(is2d) {
    if (is2d) {
      document.querySelectorAll('[data-3d-only="true"]').forEach((element) => {
        element.setAttribute("hidden", true)
      })
      document.querySelectorAll('[data-3d-input-only="true"]').forEach((element) => {
        element.removeAttribute("required")
      })
    } else {
      document.querySelectorAll('[data-3d-only="true"]').forEach((element) => {
        element.removeAttribute("hidden")
      })
      document.querySelectorAll('[data-3d-input-only="true"]').forEach((element) => {
        element.setAttribute("required", true)
      })
    }
    collapseParameters()
    clearPlotArea()
    disallowRenderLayout()
    disallowRunSimulation()
    setScenariosOptions(is2d)
  }

  function disableParametersPanel(){
    const fieldsets = document.getElementsByTagName("fieldset")
    var fieldSetList = Array.prototype.slice.call(fieldsets);
    fieldSetList.forEach((element) => {
      element.setAttribute("disabled", true)
    })
    document.querySelectorAll('[data-delete-transducer="true"]').forEach((element) => {
      element.setAttribute("hidden", true)
    })
  }

  function enableParametersPanel(){
    const fieldsets = document.getElementsByTagName("fieldset")
    var fieldSetList = Array.prototype.slice.call(fieldsets);
    fieldSetList.forEach((element) => {
      element.removeAttribute("disabled")
    })
    document.querySelectorAll('[data-delete-transducer="true"]').forEach((element) => {
      element.removeAttribute("hidden")
    })
  }

  window.onload = function () {
    const hasSimulation = {{has_simulation | tojson}}
    const isRunningSimulation = {{is_running_simulation | tojson}}
    const currentConfiguration = {{configuration | tojson}}

    setScenariosOptions((is2d = true)) // default is 2D
    if (currentConfiguration){
      setScenariosOptions(currentConfiguration.is2d)
      if(currentConfiguration.is2d){
        document.getElementById("is2d").checked = true
      } else {
        document.getElementById("is3d").checked = true
      }
      const scenarioSelect = document.getElementById("scenario")
      scenarioSelect.value = currentConfiguration.scenarioSettings.scenarioId
      setScenarioValues(currentConfiguration)
    }

    if (hasSimulation || isRunningSimulation){
      hideRunSimulation()
      disableParametersPanel()
      getSimulation()
      disallowRunSimulation()
    }

    if (hasSimulation){
      showCleanSimulation()
    }
    if(isRunningSimulation){
      showCancelSimulation()
    }

  }
</script>
<h1>
  <span>Parameters</span>
</h1>
<div id="parameters">
  <fieldset>
    <div class="mb-3 btn-group">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="is2d"
        autocomplete="off"
        onchange="changeSimulationType(is2d=true)"
        checked
      />
      <label class="btn btn-primary" for="is2d">2D</label>

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="is3d"
        autocomplete="off"
        onchange="changeSimulationType(is2d=false)"
      />
      <label class="btn btn-primary" for="is3d">3D</label>
    </div>
  </fieldset>
  <form id="parameters-form">
    <div class="accordion accordion-flush" id="parameters-accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#scenario-accordion-item"
            aria-expanded="false"
            aria-controls="scenario-accordion-item"
          >
            Scenario
          </button>
        </h2>
        <div
          id="scenario-accordion-item"
          class="accordion-collapse collapse show"
          data-bs-parent="#parameters-accordion"
        >
          <div class="accordion-body">
            {% include 'components/parameters/scenario.html' %}
          </div>
        </div>
      </div>
      <div class="accordion-item" data-3d-only="true" hidden>
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#display-accordion-item"
            aria-expanded="false"
            aria-controls="display-accordion-item"
            disabled
          >
            Display
          </button>
        </h2>
        <div
          id="display-accordion-item"
          class="accordion-collapse collapse"
          data-bs-parent="#parameters-accordion"
        >
          <div class="accordion-body">
            {% include 'components/parameters/display.html' %}
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#transducers-accordion-item"
            aria-expanded="false"
            aria-controls="transducers-accordion-item"
            disabled
          >
            Transducers
          </button>
        </h2>
        <div
          id="transducers-accordion-item"
          class="accordion-collapse collapse"
          data-bs-parent="#parameters-accordion"
        >
          <div class="accordion-body">
            {% include 'components/parameters/transducers.html' %}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#target-accordion-item"
            aria-expanded="false"
            aria-controls="target-accordion-item"
            disabled
          >
            Target
          </button>
        </h2>
        <div
          id="target-accordion-item"
          class="accordion-collapse collapse"
          data-bs-parent="#parameters-accordion"
        >
          <div class="accordion-body">
            {% include 'components/parameters/target.html' %}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#simulation-settings-accordion-item"
            aria-expanded="false"
            aria-controls="simulation-settings-accordion-item"
            disabled
          >
            Simulation Settings
          </button>
        </h2>
        <div
          id="simulation-settings-accordion-item"
          class="accordion-collapse collapse"
          data-bs-parent="#parameters-accordion"
        >
          <div class="accordion-body">
            {% include 'components/parameters/simulation_settings.html' %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
