<script>
  function clearPlotArea() {
    document.getElementById("plotArea").innerHTML = ""
  }

  function showLoading(message) {
    const loader = document.getElementById("loader")
    loader.removeAttribute("hidden")
    loader.querySelector(".spinner-border").removeAttribute("hidden")
    document.getElementById("loadingMessage").innerHTML = message
  }

  function hideLoading() {
    const loader = document.getElementById("loader")
    loader.setAttribute("hidden", true)
    loader.querySelector(".spinner-border").setAttribute("hidden", true)
    document.getElementById("loadingMessage").innerHTML = ""
  }

  function showCancelSimulation() {
    document.getElementById("cancelSimulation").removeAttribute("hidden")
  }

  function showRunSimulation() {
    document.getElementById("runSimulation").removeAttribute("hidden")
    hideCleanSimulation()
    hideCancelSimulation()
    allowRunSimulation()
    allowViewScenarioParameters()
    enableParametersPanel()
  }

  function hideCancelSimulation() {
    document.getElementById("cancelSimulation").setAttribute("hidden", true)
  }

  function hideRunSimulation() {
    document.getElementById("runSimulation").setAttribute("hidden", true)
  }
  function allowRunSimulation() {
    const is2d = document.getElementById("is2d").checked

    if (hasTransducers()) {
      document.getElementById("runSimulation").removeAttribute("disabled")
    } else {
      disallowRunSimulation()
    }
  }

  function disallowRunSimulation() {
    document.getElementById("runSimulation").setAttribute("disabled", true)
  }

  function showCleanSimulation() {
    document.getElementById("cleanSimulation").removeAttribute("hidden")
    hideRunSimulation()
    hideCancelSimulation()
    hideLoading()
  }

  function hideCleanSimulation() {
    document.getElementById("cleanSimulation").setAttribute("hidden", true)
  }

  function runSimulation(button) {
    showLoading("Running simulation...")
    showCancelSimulation()
    disableParametersPanel()
    hideRunSimulation()
    clearPlotArea()

    const is2d = document.getElementById("is2d").checked
    const scenarioParams = getScenarioParams()
    const transducersParams = getTransducersParams()
    const targetParams = getTargetParams()
    const simulationSettingsParams = getSimulationSettingsParams()

    const data = {
      is2d: is2d,
      scenarioSettings: scenarioParams,
      transducers: transducersParams,
      target: targetParams,
      simulationSettings: simulationSettingsParams,
    }

    const url = "{{ url_for('main.simulate') }}"
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (response.ok) return response.text()
        return ""
      })
      .then((text) => {
        if (text) {
          document.getElementById("plotArea").innerHTML = text
          showCleanSimulation()
        } else {
          showRunSimulation()
        }
      })
  }

  function getSimulation() {
    disableParametersPanel()
    showCancelSimulation()
    const button = document.getElementById("runSimulation")
    showLoading("Running simulation...")
    const url = "{{ url_for('main.get_simulation') }}"
    fetch(url, {
      method: "GET",
    })
      .then((response) => {
        hideLoading()
        if (response.ok) return response.text()
        return ""
      })
      .then((text) => {
        if (text) {
          document.getElementById("plotArea").innerHTML = text
          showCleanSimulation()
        } else {
          showRunSimulation()
        }
      })
  }

  function cancelSimulation(button) {
    hideLoading()
    cleanSimulation(button)
  }

  function cleanSimulation(button) {
    BtnLoading(button)
    clearPlotArea()
    const url = "{{ url_for('main.remove_simulation') }}"
    fetch(url, {
      method: "DELETE",
    }).then(() => {
      BtnReset(button)
      showRunSimulation()
      renderLayout()
    })
  }
</script>
<div class="container-fluid">
  <h1 class="d-flex justify-content-between align-items-center mb-3">
    <span>Plots</span>
    <button
      id="runSimulation"
      type="button"
      class="btn btn-primary"
      onclick="runSimulation(this)"
      disabled
    >
      Run Simulation
    </button>
    <button
      id="cancelSimulation"
      type="button"
      class="btn btn-warning"
      onclick="cancelSimulation(this)"
      hidden
    >
      Cancel Simulation
    </button>
    <button
      id="cleanSimulation"
      type="button"
      class="btn btn-warning"
      onclick="cleanSimulation(this)"
      hidden
    >
      Clean Simulation
    </button>
  </h1>
  <div class="row d-flex" id="loader" hidden>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="row">
        <div
          class="spinner-border"
          role="status"
          style="width: 10rem; height: 10rem"
          hidden
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="row">
        <div class="col m-3">
          <span id="loadingMessage"></span>
        </div>
      </div>
      <div class="row">
        <div id="plotArea"></div>
      </div>
    </div>
  </div>
</div>
