<script>
  function setMaterialPropertiesPreBuiltValues(materialProperties) {
    document.getElementById("waterVp").value = materialProperties.water.vp
    document.getElementById("waterRho").value = materialProperties.water.rho
    document.getElementById("waterAlpha").value = materialProperties.water.alpha
    document.getElementById("waterRenderColor").value =
      materialProperties.water.renderColor

    document.getElementById("trabecularBoneVp").value =
      materialProperties.cortical_bone.vp
    document.getElementById("trabecularBoneRho").value =
      materialProperties.cortical_bone.rho
    document.getElementById("trabecularBoneAlpha").value =
      materialProperties.cortical_bone.alpha
    document.getElementById("trabecularBoneRenderColor").value =
      materialProperties.cortical_bone.render_color

    document.getElementById("brainVp").value = materialProperties.brain.vp
    document.getElementById("brainRho").value = materialProperties.brain.rho
    document.getElementById("brainAlpha").value = materialProperties.brain.alpha
    document.getElementById("brainRenderColor").value =
      materialProperties.brain.renderColor
  }

  function getMaterialPropertiesParams() {
    let params = {
      water: {},
      trabecularBone: {},
      brain: {},
    }
    params["water"]["vp"] = document.getElementById("waterVp").value
    params["water"]["rho"] = document.getElementById("waterRho").value
    params["water"]["alpha"] = document.getElementById("waterAlpha").value
    params["water"]["renderColor"] =
      document.getElementById("waterRenderColor").value

    params["trabecularBone"]["vp"] =
      document.getElementById("trabecularBoneVp").value
    params["trabecularBone"]["rho"] =
      document.getElementById("trabecularBoneRho").value
    params["trabecularBone"]["alpha"] = document.getElementById(
      "trabecularBoneAlpha"
    ).value
    params["trabecularBone"]["renderColor"] = document.getElementById(
      "trabecularBoneRenderColor"
    ).value

    params["brain"]["vp"] = document.getElementById("brainVp").value
    params["brain"]["rho"] = document.getElementById("brainRho").value
    params["brain"]["alpha"] = document.getElementById("brainAlpha").value
    params["brain"]["renderColor"] =
      document.getElementById("brainRenderColor").value

    return params
  }
</script>
<div class="accordion accordion-flush" id="materialsAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        Water
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-bs-parent="#materialsAccordion"
    >
      <div class="accordion-body">
        <div class="mb-3">
          <label for="waterVp">VP</label>
          <input
            type="number"
            class="form-control"
            name="waterVp"
            id="waterVp"
            value="1500"
            required
          />
        </div>
        <div class="mb-3">
          <label for="waterRho">RHO</label>
          <input
            type="number"
            class="form-control"
            name="waterRho"
            id="waterRho"
            value="1000"
            required
          />
        </div>
        <div class="mb-3">
          <label for="waterAlpha">Alpha</label>
          <input
            type="number"
            class="form-control"
            name="waterAlpha"
            id="waterAlpha"
            value="0.001100013975948576"
            required
          />
        </div>
        <div class="mb-3">
          <label for="waterRenderColor" class="form-label">Color</label>
          <input
            type="color"
            class="form-control form-control-color"
            name="waterRenderColor"
            id="waterRenderColor"
            value="#2E86AB"
            title="Choose your color"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        Trabecular Bone
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingTwo"
      data-bs-parent="#materialsAccordion"
    >
      <div class="accordion-body">
        <div class="mb-3">
          <label for="trabecularBoneVp">VP</label>
          <input
            type="number"
            class="form-control"
            name="trabecularBoneVp"
            id="trabecularBoneVp"
            value="2300"
            required
          />
        </div>
        <div class="mb-3">
          <label for="trabecularBoneRho">RHO</label>
          <input
            type="number"
            class="form-control"
            name="trabecularBoneRho"
            id="trabecularBoneRho"
            value="1700"
            required
          />
        </div>
        <div class="mb-3">
          <label for="trabecularBoneAlpha">Alpha</label>
          <input
            type="number"
            class="form-control"
            name="trabecularBoneAlpha"
            id="trabecularBoneAlpha"
            value="1.7769765160626256"
            required
          />
        </div>
        <div class="mb-3">
          <label for="trabecularBoneRenderColor" class="form-label"
            >Color</label
          >
          <input
            type="color"
            class="form-control form-control-color"
            name="trabecularBoneRenderColor"
            id="trabecularBoneRenderColor"
            value="#EBD378"
            title="Choose your color"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        Brain
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingThree"
      data-bs-parent="#materialsAccordion"
    >
      <div class="accordion-body">
        <div class="mb-3">
          <label for="brainVp">VP</label>
          <input
            type="number"
            class="form-control"
            name="brainVp"
            id="brainVp"
            value="1560"
            required
          />
        </div>
        <div class="mb-3">
          <label for="brainRho">RHO</label>
          <input
            type="number"
            class="form-control"
            name="brainRho"
            id="brainRho"
            value="1040"
            required
          />
        </div>
        <div class="mb-3">
          <label for="brainAlpha">Alpha</label>
          <input
            type="number"
            class="form-control"
            name="brainAlpha"
            id="brainAlpha"
            value="0.23999051039277436"
            required
          />
        </div>
        <div class="mb-3">
          <label for="brainRenderColor" class="form-label">Color</label>
          <input
            type="color"
            class="form-control form-control-color"
            name="brainRenderColor"
            id="brainRenderColor"
            value="#DB504A"
            title="Choose your color"
          />
        </div>
      </div>
    </div>
  </div>
</div>
