<script>
  let scenarioInfos = {{built_in_scenarios | tojson}};
  function togglePreBuiltDiv() {
    document.getElementById("preBuiltDiv").hidden = false
    document.getElementById("ctFileDiv").hidden = true
    document.getElementById("axisDiv").hidden = true
    document.getElementById("distanceFromOriginDiv").hidden = true

  }

  function toggleCTFileDiv() {
    document.getElementById("preBuiltDiv").hidden = true
    document.getElementById("ctFileDiv").hidden = false
    document.getElementById("axisDiv").hidden = false
    document.getElementById("distanceFromOriginDiv").hidden = false
  }

  function scenarioSelected(scenarioInput){
    document.getElementById("plotArea").innerHTML = ""

    const selection = scenarioInput.value;
    if (selection===""){
      // TODO: clean the form
      // document.getElementById("myform").reset();
      disallowRunSimulation()
      disallowRenderLayout()
      document.getElementById("axis").value = ""
      getElementById("distanceFromOrigin").value = ""
      return;
    }
    const selectedScenario = scenarioInfos[selection]
    setTargetPreBuiltValues(selectedScenario.target)
    setSimulationSettingsPreBuiltValues(selectedScenario.simulationSettings)
    setTransducersPreBuiltValues(selectedScenario.transducers)

    allowRenderLayout()
    allowRunSimulation()
  }

  function getScenarioParams() {
    const isPreBuilt = document.getElementById("isPreBuilt").checked
    const axis = document.getElementById("axis").value || null
    const distanceFromOrigin = document.getElementById("distanceFromOrigin")
      .value || null
    let params = {
      axis: axis,
      distanceFromOrigin: distanceFromOrigin,
      isPreBuilt: isPreBuilt,
    }
    if (isPreBuilt) {
      params["scenarioId"] = document.getElementById("scenario").value
    } else {
      params["ctFile"] = document.getElementById("ctFile").value
    }
    return params
  }
</script>
<form>
  <div class="mb-3">
    <div class="btn-group">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="isPreBuilt"
        autocomplete="off"
        onchange="togglePreBuiltDiv()"
        checked
      />
      <label class="btn btn-secondary" for="isPreBuilt">Prebuilt</label>

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="isCtScan"
        autocomplete="off"
        onchange="toggleCTFileDiv()"
        disabled
      />
      <label class="btn btn-secondary" for="isCtScan">CT Scan</label>
    </div>
  </div>

  <div class="mb-3">
    <div id="preBuiltDiv">
      <label for="scenario" class="form-label">Scenarios:</label>
      <select
        name="scenario"
        id="scenario"
        class="form-select"
        onchange="scenarioSelected(this)"
      >
        <option value="" selected>Select a scenario</option>
        {% for scenario_id, scenario in built_in_scenarios.items() %} {% if
        scenario['is2d'] %}
        <option value="{{scenario_id}}">{{scenario_id}}</option>
        {% endif %} {% endfor %}
      </select>
    </div>
    <div id="ctFileDiv" hidden>
      <label for="ctFile" class="form-label" for="ctFile">CT File</label>
      <input class="form-control" type="file" id="ctFile" />
    </div>
  </div>
  <div id="axisDiv" class="mb-3" hidden>
    <label for="axis" class="form-label" for="axis">Axis</label>
    <select class="form-select" aria-label="Axis" id="axis">
      <option value="" selected>Select an axis</option>
      <option value="x">X</option>
      <option value="y">Y</option>
      <option value="z">Z</option>
    </select>
  </div>
  <div id="distanceFromOriginDiv" class="mb-3" hidden>
    <label for="distanceFromOrigin" class="form-label" for="distanceFromOrigin"
      >Distance from Origin (mm)</label
    >
    <input
      type="number"
      class="form-control"
      id="distanceFromOrigin"
      placeholder="Type here"
    />
  </div>
</form>
