<script>
  function setMaterialPropertiesPreBuiltValues(materialProperties) {
    for (let key in materialProperties) {
      if (!materialProperties[key]){
        // hiding the material as it is not part of the scenario
        let materialComponent = document.getElementById(`${key}`)
        materialComponent.setAttribute("hidden", true)
        materialComponent.getElementsByTagName('form')[0].noValidate = true
        continue
      }
      document.getElementById(`${key}Vp`).value = materialProperties[key].vp
      document.getElementById(`${key}Rho`).value = materialProperties[key].rho
      document.getElementById(`${key}Alpha`).value =
        materialProperties[key].alpha
      document.getElementById(`${key}RenderColor`).value =
        materialProperties[key].renderColor
      document.getElementById(`${key}`).removeAttribute("hidden")
      document.getElementById(`${key}`).getElementsByTagName('form')[0].noValidate = false
    }
  }

  function getMaterialPropertiesParams() {
    const supportedMaterials = {{all_materials | tojson | safe}}
    let params = {}
    for (let material of supportedMaterials) {
      const key = material[0];  // material[0] is the material name, e.g. "water"
      if (document.getElementById(`${key}`).hasAttribute("hidden")){
        // as the material is hidden, it means it is not part of the scenario
        continue
      }
      params[key] = {
        "vp": document.getElementById(`${key}Vp`).value,
        "rho": document.getElementById(`${key}Rho`).value,
        "alpha": document.getElementById(`${key}Alpha`).value,
        "renderColor": document.getElementById(`${key}RenderColor`).value,
      }
    }
    return params
  }

  function validateMaterialValues(){
    const accordion = document.getElementById("materialsAccordion")
    let forms = accordion.getElementsByTagName("form")
    for (let form of forms) {
      if (form.noValidate) {
        continue
      }
      if (!form.checkValidity()) {
        $("#simulation-settings-accordion-item").collapse("show")
        $("#"+form.name).collapse("show")
        form.reportValidity()
        return false
      }
    }
    return true
  }
</script>
<div class="accordion accordion-flush" id="materialsAccordion">
  {% for material, material_label in all_materials %}
  <div class="accordion-item" id="{{material}}" hidden>
    <h2 class="accordion-header" id="flush-{{loop.index}}">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapse{{loop.index}}"
        aria-expanded="false"
        aria-controls="flush-collapse{{loop.index}}"
      >
        {{material_label}}
      </button>
    </h2>
    <div
      id="flush-collapse{{loop.index}}"
      class="accordion-collapse collapse"
      aria-labelledby="flush-heading{{loop.index}}"
      data-bs-parent="#materialsAccordion"
    >
      <div class="accordion-body">
        <form name="flush-collapse{{loop.index}}">
          <fieldset>
            <div class="mb-3">
              <label
                for="{{material}}Vp"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="The speed of sound (in m/s)"
                >VP</label
              >
              <input
                type="number"
                class="form-control"
                name="{{material}}Vp"
                id="{{material}}Vp"
                onchange="valueChanged()"
                required
              />
            </div>
            <div class="mb-3">
              <label
                for="{{material}}Rho"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="The mass density (in kg/m³)"
                >RHO</label
              >
              <input
                type="number"
                class="form-control"
                name="{{material}}Rho"
                id="{{material}}Rho"
                onchange="valueChanged()"
                required
              />
            </div>
            <div class="mb-3">
              <label
                for="{{material}}Alpha"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="The absorption (in dB/cm)"
                >Alpha</label
              >
              <input
                type="number"
                step="any"
                class="form-control"
                name="{{material}}Alpha"
                id="{{material}}Alpha"
                onchange="valueChanged()"
                required
              />
            </div>
            <div class="mb-3">
              <label
                for="{{material}}RenderColor"
                class="form-label"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="The color used when rendering this material in the scenario layout plot"
                >Color</label
              >
              <input
                type="color"
                class="form-control form-control-color"
                name="{{material}}RenderColor"
                id="{{material}}RenderColor"
                title="Choose your color"
                onchange="valueChanged()"
              />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
