<script>
  let scenarioInfos = {{built_in_scenarios | tojson}};
  function togglePreBuiltDiv() {
    document.getElementById("preBuiltDiv").hidden = false
    document.getElementById("ctFileDiv").hidden = true
    document.getElementById("sliceAxisDiv").hidden = true
    document.getElementById("slicePositionDiv").hidden = true
  }

  function toggleCTFileDiv() {
    document.getElementById("preBuiltDiv").hidden = true
    document.getElementById("ctFileDiv").hidden = false
    document.getElementById("sliceAxisDiv").hidden = false
    document.getElementById("slicePositionDiv").hidden = false
  }

  function valueChanged() {
    renderLayout()
  }

  function disable3DParameters() {
    document.getElementById("sliceAxis").disabled = true
    document.getElementById("slicePosition").disabled = true
  }

  function enable3DParameters() {
    document.getElementById("sliceAxis").disabled = false
    document.getElementById("slicePosition").disabled = false
  }

  function scenarioSelected(scenarioInput){
    clearPlotArea()

    const selection = scenarioInput.value;
    if (selection===""){
      disallowRunSimulation()
      disallowRenderLayout()
      clearAllTransducers()
      disable3DParameters()
      document.getElementById("parameters-form").reset()
      return;
    }
    const selectedScenario = scenarioInfos[selection]
    setScenarioValues(selectedScenario)
    renderLayout()
    allowViewScenarioParameters()
  }

  function setScenarioValues(scenario){
    setTargetValues(scenario.target)
    setSimulationSettingsValues(scenario.simulationSettings)
    setTransducersValues(scenario.transducers)
    setScenarioSettingsValues(scenario.scenarioSettings)

    if (scenario.is2d){
      disable3DParameters()
    } else {
      enable3DParameters()
    }
  }

  function getScenarioParams() {
    const isPreBuilt = document.getElementById("isPreBuilt").checked
    const sliceAxis = document.getElementById("sliceAxis").value || null
    const slicePosition = document.getElementById("slicePosition")
      .value || null
    let params = {
      sliceAxis: sliceAxis,
      slicePosition: slicePosition,
      isPreBuilt: isPreBuilt,
    }
    if (isPreBuilt) {
      params["scenarioId"] = document.getElementById("scenario").value
    } else {
      params["ctFile"] = document.getElementById("ctFile").value
    }
    return params
  }

  function setScenarioSettingsValues(scenarioSettings) {
    document.getElementById("sliceAxis").value = scenarioSettings.sliceAxis
    document.getElementById("slicePosition").value =
      scenarioSettings.slicePosition
  }

  function setScenariosOptions(is2d){
    const scenarioSelect = document.getElementById("scenario")
    scenarioSelect.innerHTML = ""

    const option = document.createElement("option")
    option.value = ""
    option.text = "Select a scenario"
    scenarioSelect.appendChild(option)

    for (const [scenarioId, scenario] of Object.entries(scenarioInfos)) {
      if (scenario.is2d === is2d) {
        const option = document.createElement("option")
        option.value = scenarioId
        option.text = scenario.title
        scenarioSelect.appendChild(option)
      }
    }
  }
</script>
<form>
  <div class="mb-3">
    <div class="btn-group">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="isPreBuilt"
        autocomplete="off"
        onchange="togglePreBuiltDiv()"
        checked
      />
      <label
        class="btn btn-primary"
        for="isPreBuilt"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Use a prebuilt scenario with a target and transducers"
        >Prebuilt</label
      >

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="isCtScan"
        autocomplete="off"
        onchange="toggleCTFileDiv()"
        disabled
      />
      <label
        class="btn btn-primary"
        for="isCtScan"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Load a CT scan from a file"
        >CT Scan</label
      >
    </div>
  </div>

  <div class="mb-3">
    <div id="preBuiltDiv">
      <label for="scenario" class="form-label">Scenarios:</label>
      <select
        name="scenario"
        id="scenario"
        class="form-select"
        onchange="scenarioSelected(this)"
      ></select>
    </div>
    <div id="ctFileDiv" hidden>
      <label for="ctFile" class="form-label" for="ctFile">CT File</label>
      <input class="form-control" type="file" id="ctFile" />
    </div>
  </div>
  <div id="sliceAxisDiv" class="mb-3" data-3d-only="true" hidden>
    <label
      for="sliceAxis"
      class="form-label"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      title="Axis along which to slice the 3D field to be recorded"
      >Axis</label
    >
    <select
      class="form-select"
      aria-label="Axis"
      id="sliceAxis"
      onchange="valueChanged()"
      disabled
    >
      <option value="" selected>Select an axis</option>
      <option value="x">X</option>
      <option value="y">Y</option>
      <option value="z">Z</option>
    </select>
  </div>
  <div id="slicePositionDiv" class="mb-3" data-3d-only="true" hidden>
    <label
      for="slicePosition"
      class="form-label"
      for="slicePosition"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      title="The position (in meters) along the slice axis at which the slice of the 3D field should be made"
      >Distance from Origin (m)</label
    >
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="slicePosition"
      placeholder="Type here"
      onchange="valueChanged()"
      disabled
    />
  </div>
</form>
