<script>
  let scenarioInfos = {{ built_in_scenarios | tojson}};
  function togglePreBuiltDiv() {
    document.getElementById("preBuiltDiv").hidden = false
    document.getElementById("ctFileDiv").hidden = true
  }

  function toggleCTFileDiv() {
    document.getElementById("preBuiltDiv").hidden = true
    document.getElementById("ctFileDiv").hidden = false
  }

  function valueChanged() {
    let hasError = false
    if (!validateCTValues()) {
      hasError = true
    } else if (!validateTargetValues()) {
      hasError = true
    } else if (!validateDisplayValues()) {
      hasError = true
    } else if (!validateSimulationSettingsValues()) {
      hasError = true
    } else if (!validateMaterialValues()) {
      hasError = true
    }

    if (hasError) {
      disallowRunSimulation()
      clearPlotArea()
    } else {
      renderLayout()
    }
  }

  function validateCTValues() {
    let form = document.getElementById("ctForm")
    if (!form.checkValidity()) {
      $("#scenario-accordion-item").collapse("show")
      form.reportValidity()
      return false
    }
    return true
  }

  function scenarioSelected(scenarioInput) {
    clearPlotArea()

    const selection = scenarioInput.value;
    if (selection === "") {
      disallowRunSimulation()
      disallowRenderLayout()
      clearAllTransducers()
      document.getElementById("parametersForm").reset()
      return;
    }
    const selectedScenario = scenarioInfos[selection]
    setScenarioValues(selectedScenario)
    renderLayout()
    allowViewScenarioParameters()
  }

  function setScenarioValues(configuration) {
    if (configuration.scenarioSettings.scenarioId){
        // running a built-in scenario
        const scenarioSelect = document.getElementById("scenario")
        scenarioSelect.value = configuration.scenarioSettings.scenarioId
    } else if (configuration.scenarioSettings.ctFile){
        // running a ct scan
        document.getElementById("isCtScan").checked = true
        toggleCTFileDiv()
        const loadedCTsElement = document.getElementById("loadedCTs")
        loadedCTsElement.value = configuration.scenarioSettings.ctFile
        if (configuration.is2d){
          const ctSliceAxis = document.getElementById("ctSliceAxis")
          ctSliceAxis.value = configuration.scenarioSettings.ctSliceAxis
          const ctSlicePosition = document.getElementById("ctSlicePosition")
          ctSlicePosition.value = configuration.scenarioSettings.ctSlicePosition
        }
    }
    setTargetValues(configuration.target)
    setSimulationSettingsValues(configuration.simulationSettings)
    setTransducersValues(configuration.transducers)
    if (!configuration.is2d) {
      setDisplayValues(configuration.displaySettings)
    }
  }

  function getScenarioParams() {
    const isPreBuilt = document.getElementById("isPreBuilt").checked
    const is3d = document.getElementById("is3d").checked
    let params = {
      isPreBuilt: isPreBuilt,
    }
    if (isPreBuilt) {
      params["scenarioId"] = document.getElementById("scenario").value
    } else {
      // ct file was loaded
      params["ctFile"] = document.getElementById("loadedCTs").value
      if (!is3d){
        // these attributes only exist for 2D
        params["ctSliceAxis"] = document.getElementById("ctSliceAxis").value
        params["ctSlicePosition"] = document.getElementById("ctSlicePosition").value
      }
    }
    return params
  }

  function setScenariosOptions(is2d) {
    const scenarioSelect = document.getElementById("scenario")
    scenarioSelect.innerHTML = ""

    document.getElementById("ctForm").reset()

    const option = document.createElement("option")
    option.value = ""
    option.text = "Select a scenario"
    scenarioSelect.appendChild(option)

    for (const [scenarioId, scenario] of Object.entries(scenarioInfos)) {
      if (scenario.is2d === is2d) {
        const option = document.createElement("option")
        option.value = scenarioId
        option.text = scenario.title
        scenarioSelect.appendChild(option)
      }
    }
  }

  function filesChosen(fileInput) {
    if (fileInput.files.length !== 2) {
      return
    }
    const firstFileName = fileInput.files[0].name
    const secondFileName = fileInput.files[1].name
    if (firstFileName.split('.')[0] !== secondFileName.split('.')[0]) {
      console.log('Files must have the same name')
      return
    }
    document.getElementById("fileUploadButton").disabled = false
  }

  function fillDefaultValues() {
    setSimulationSettingsValues({
      "simulationPrecision": 6,
      "centerFrequency": 5e5,
      "isSteadySimulation": true,
    })
    const is3d = document.getElementById("is3d").checked

    setTargetValues({
      "centerX": 0.2,
      "centerY": 0.2,
      "centerZ": is3d ? 0.2 : '',
      "radius": 0.05,
    })
  }

  function ctSelected(ctInput) {
    const selectedCT = ctInput.value
    if (selectedCT === '') {
      return
    }
    fillDefaultValues()
    allowViewScenarioParameters()
    valueChanged()
  }

  function fileUploadClicked() {
    var input = document.getElementById("ctFiles")

    var data = new FormData()
    data.append('file_0', input.files[0], input.files[0].name);
    data.append('file_1', input.files[1], input.files[1].name);

    const url = "{{ url_for('main.ct_scan') }}"

    fetch(url, {
      method: 'POST',
      body: data
    }).then((response) => {
      if (response.ok) {
        return true, response.text()
      }
      else {
        return false, response.text()
      }
    })
      .then((success, text) => {
        if (!success) {
          console.log(text)
          return
        }
        const message = JSON.parse(text);
        const selectedCT = message.selected_ct
        const availableCTs = message.available_cts
        loadCTs(availableCTs, selectedCT)

        document.getElementById("fileUploadButton").disabled = true
        document.getElementById("ctFiles").value = ""
        fillDefaultValues()
        allowViewScenarioParameters()
        renderLayout()
      })
  }

  function loadCTs(availableCTs, selectedCT) {
    const loadedCTsElement = document.getElementById("loadedCTs")
    loadedCTsElement.innerHTML = ""
    for (const ct of availableCTs) {
      if (ct === selectedCT) {
        loadedCTsElement.innerHTML += `<option value="${ct}" selected>${ct}</option>`
      } else {
        loadedCTsElement.innerHTML += `<option value="${ct}">${ct}</option>`
      }
    }
    if (loadedCTs.length === 0) {
      loadedCTsElement.innerHTML += `<option value="">No CTs loaded</option>`
      loadedCTsElement.setAttribute("disabled", "disabled")
      document.getElementById("ctSliceAxis").setAttribute("disabled", "disabled")
      document.getElementById("ctSlicePosition").setAttribute("disabled", "disabled")
    } else {
      loadedCTsElement.removeAttribute("disabled")
      document.getElementById("ctSliceAxis").removeAttribute("disabled")
      document.getElementById("ctSlicePosition").removeAttribute("disabled")
    }
  }

</script>
<form></form>
<fieldset>
  <div class="mb-3">
    <div class="btn-group">
      <input type="radio" class="btn-check" name="options" id="isPreBuilt"
        autocomplete="off"
        onchange="togglePreBuiltDiv()" checked />
      <label class="btn btn-primary" for="isPreBuilt" data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Use a prebuilt scenario with a target and transducers">Prebuilt</label>

      <input type="radio" class="btn-check" name="options" id="isCtScan"
        autocomplete="off"
        onchange="toggleCTFileDiv()" />
      <label class="btn btn-primary" for="isCtScan" data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Load a CT scan from a file">CT Scan</label>
    </div>
  </div>

  <div class="mb-3">
    <div id="preBuiltDiv">
      <label for="scenario" class="form-label">Scenarios:</label>
      <select name="scenario" id="scenario" class="form-select"
        onchange="scenarioSelected(this)"></select>
    </div>
    <div id="ctFileDiv" hidden>
      <form id="ctForm">
        <div class="mb-3">
          <label class="form-label" for="loadedCTs">Available CTs</label>
          <select class="form-select" size="3" name="loadedCTs" id="loadedCTs"
            onchange="ctSelected(this)" required>
          </select>
        </div>
        <div class="mb-3" data-2d-only="true">
          <label for="ctSliceAxis" class="form-label" data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Axis along which to slice the 3D field to be recorded">Axis</label>
          <select class="form-select" aria-label="Axis" id="ctSliceAxis"
            data-2d-input-only="true"
            name="ctSliceAxis" required onchange="valueChanged()">
            <option value selected>Select an axis</option>
            <option value="x">X</option>
            <option value="y">Y</option>
            <option value="z">Z</option>
          </select>
        </div>
        <div class="mb-3" data-2d-only="true">
          <label for="ctSlicePosition" class="form-label"
            data-bs-toggle="tooltip" data-bs-placement="right"
            title="The position (in meters) along the slice axis at which the slice of the 3D field should be made">Distance
            from Origin (m)</label>
          <input type="number" step="any" class="form-control"
            id="ctSlicePosition" name="ctSlicePosition"
            data-2d-input-only="true"
            placeholder="0.0" required 
            onchange="valueChanged()"/>
        </div>
      </form>
      <div class="mb-3">
        <label for="ctFiles" class="form-label"
          title="Select the CT file and the file containing the mapping between layers and masks">CT
          and mapping
          Files</label>
        <input class="form-control" type="file" id="ctFiles"
          onchange="filesChosen(this)" multiple />
      </div>
      <div class="mb-3">
        <button id="fileUploadButton" class="btn btn-primary" type="button"
          onclick="fileUploadClicked()" disabled>
          Upload new CT
        </button>
      </div>
    </div>
  </div>
</fieldset>
