<script>
  function setSimulationSettingsValues(scenarioSettings) {
    document.getElementById("simulationPrecision").value =
      scenarioSettings.simulationPrecision
    document.getElementById("centerFrequency").value =
      scenarioSettings.centerFrequency
    document.getElementById("simulationTypePulsed").checked =
      !scenarioSettings.isSteadySimulation
    document.getElementById("simulationTypeSteady").checked =
      scenarioSettings.isSteadySimulation
    setMaterialPropertiesPreBuiltValues(scenarioSettings.materialProperties)
  }

  function getSimulationSettingsParams() {
    let params = {
      materialProperties: getMaterialPropertiesParams(),
      simulationPrecision: document.getElementById("simulationPrecision").value,
      centerFrequency: document.getElementById("centerFrequency").value,
      isSteadySimulation: document.getElementById("simulationTypeSteady")
        .checked,
    }
    return params
  }
</script>

<div class="mb-3">
  <label for="simulationPrecision">Simulation precision</label>
  <input
    type="number"
    class="form-control"
    name="simulationPrecision"
    id="simulationPrecision"
    required
    disabled
  />
</div>
<div class="mb-3">
  <label for="centerFrequency">Center frequency</label>
  <input
    type="number"
    class="form-control"
    name="centerFrequency"
    id="centerFrequency"
    required
  />
</div>
<div class="mb-3">
  <label for="materialsAccordion">Material properties</label>
  {% include 'components/parameters/materials.html' %}
</div>
<div class="mb-3">
  <label for="simulationType">Simulation type</label>
  <div id="simulationType" class="form-control">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="simulationTypePulsed"
      />
      <label class="form-check-label" for="simulationTypePulsed">
        Pulsed
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="simulationTypeSteady"
        checked
      />
      <label class="form-check-label" for="simulationTypeSteady">
        Steady state
      </label>
    </div>
  </div>
</div>
