<script>
  function setTargetValues(target) {
    document.getElementById("centerX").value = target.centerX
    document.getElementById("centerY").value = target.centerY
    document.getElementById("centerZ").value = target.centerZ
    document.getElementById("radius").value = target.radius
  }

  function validateTargetValues() {
    let form = document.getElementById("targetForm")
    if (!form.checkValidity()) {
      $("#target-accordion-item").collapse("show")
      form.reportValidity()
      return false
    }
    return true
  }

  function clickToPositionHandler(){
    showLoading("Rendering Layout...")
    disallowRunSimulation()
    clearPlotArea()

    const is2d = scenarioIs2d()
    const scenarioParams = getScenarioParams()
    const transducersParams = getTransducersParams()
    const targetParams = getTargetParams()
    const simulationSettingsParams = getSimulationSettingsParams()
    const displaySettingsParams = is2d ? null : getDisplaySettingsParams()

    const data = {
      is2d,
      scenarioSettings: scenarioParams,
      transducers: transducersParams,
      target: targetParams,
      simulationSettings: simulationSettingsParams,
      displaySettings: displaySettingsParams,
    }
    const url = "{{ url_for('main.render_canvas') }}"
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
      

        // Create a new canvas and get the context
        const canvas = document.createElement('canvas');
        const ctx = canvas.getContext('2d');

        // Add the canvas to the plot area
        hideLoading()
        document.getElementById('plotArea').appendChild(canvas);
        const img = new Image();
        img.onload = function() {
            // Set the canvas dimensions
            canvas.width = img.width;
            canvas.height = img.height;

            // Draw the image on the canvas
            ctx.drawImage(img, 0, 0);

            // Save the data ranges
            canvas.dataset.xlim = JSON.stringify(data.xlim);
            canvas.dataset.ylim = JSON.stringify(data.ylim);
        };

        // Set the image source
        img.src = 'data:image/png;base64,' + data.image;

        // Handle click events on the canvas
        canvas.addEventListener('click', function(event) {
            // Get the size of the canvas
            const rect = canvas.getBoundingClientRect();

            // Calculate the position of the click in pixels
            const xPixel = event.clientX - rect.left;
            const yPixel = event.clientY - rect.top;

            // Get the data ranges
            const xlim = JSON.parse(canvas.dataset.xlim);
            const ylim = JSON.parse(canvas.dataset.ylim);

            // Convert from pixels to data units
            const xData = xlim[0] + (xlim[1] - xlim[0]) * xPixel / canvas.width;
            const yData = ylim[1] - (ylim[1] - ylim[0]) * yPixel / canvas.height;

            // Log the data coordinates

            document.getElementById("centerX").value = yData
            document.getElementById("centerY").value = xData
            valueChanged()
        });
      })
  }

  function getTargetParams() {
    let params = {}
    params["centerX"] = document.getElementById("centerX").value
    params["centerY"] = document.getElementById("centerY").value
    params["centerZ"] = document.getElementById("centerZ").value || null
    params["radius"] = document.getElementById("radius").value
    return params
  }
</script>
<form id="targetForm">
  <fieldset>
    <div class="row">
      <div class="col">
        <p><a class="link" onclick="clickToPositionHandler()">Click to position</a></p>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col">
        <label
          for="centerX"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="The location of the center of the target (in meters)"
          >Center X</label
        >
        <input
          type="number"
          step="any"
          class="form-control"
          name="centerX"
          id="centerX"
          onchange="valueChanged()"
          required
        />
      </div>
      <div class="col">
        <label
          for="centerY"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="The location of the center of the target (in meters)"
          >Center Y</label
        >
        <input
          type="number"
          step="any"
          class="form-control"
          id="centerY"
          name="centerY"
          onchange="valueChanged()"
          required
        />
      </div>
      <div class="col" data-3d-only="true" hidden>
        <label
          for="centerZ"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="The location of the center of the target (in meters)"
          >Center Z</label
        >
        <input
          type="number"
          step="any"
          class="form-control"
          id="centerZ"
          name="centerZ"
          onchange="valueChanged()"
          data-3d-input-only="true"
        />
      </div>
    </div>
    <div class="mb-3">
      <label
        for="radius"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="The radius of the target (in meters)"
        >Radius</label
      >
      <input
        type="number"
        step="any"
        class="form-control"
        name="radius"
        id="radius"
        onchange="valueChanged()"
        required
      />
    </div>
  </fieldset>
</form>
