<script>
  function setTargetValues(target) {
    document.getElementById("centerX").value = target.centerX
    document.getElementById("centerY").value = target.centerY
    document.getElementById("centerZ").value = target.centerZ
    document.getElementById("radius").value = target.radius
  }

  function validateTargetValues() {
    let form = document.getElementById("targetForm")
    if (!form.checkValidity()) {
      $("#target-accordion-item").collapse("show")
      form.reportValidity()
      return false
    }
    return true
  }
  
  function clickToPositionTargetHandler(){
    showLoading("Rendering Layout...")
    disallowRunSimulation()
    clearPlotArea()

    const url = "{{ url_for('main.render_canvas') }}"
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: getFullRequestBody(),
    })
      .then((response) => response.json())
      .then((data) => {
        hideLoading()
        
        const label = document.createElement('p');
        label.textContent = 'Click on the image to place the target';
        label.style.textAlign = 'center';

        plotArea.insertBefore(label, plotArea.firstChild);

        const clickCallback = (xData, yData) => {
          xData = xData.toFixed(6)
          yData = yData.toFixed(6)
          
          // Update the form
          if (scenarioIs2d()) {
            document.getElementById("centerX").value = yData
            document.getElementById("centerY").value = xData
          } else{
            const sliceAxis = document.getElementById("sliceAxis").value
            switch (sliceAxis)
            {
              case "x":
                document.getElementById("centerY").value = yData
                document.getElementById("centerZ").value = xData
                break;
              case "y":
                document.getElementById("centerX").value = yData
                document.getElementById("centerZ").value = xData
                break;
              case "z":
                document.getElementById("centerX").value = yData
                document.getElementById("centerY").value = xData
                break;
            }
          }
          valueChanged()
        }

        const canvas = plotToCanvas({
          xlim: data.xlim,
          ylim: data.ylim,
          xlabel: data.xlabel,
          ylabel: data.ylabel,
          xticks: data.xticks,
          yticks: data.yticks,
          image: data.image,
          clickCallback,
          drawLine: false
        })
        document.getElementById('plotArea').appendChild(canvas);
      })
  }

  function getTargetParams() {
    let params = {}
    params["centerX"] = document.getElementById("centerX").value
    params["centerY"] = document.getElementById("centerY").value
    params["centerZ"] = document.getElementById("centerZ").value || null
    params["radius"] = document.getElementById("radius").value
    return params
  }
</script>
<form id="targetForm">
  <fieldset>
    <div class="row">
      <div class="col">
        <button type="button" onclick="clickToPositionTargetHandler()" class="btn btn-link">Click to position</button>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col">
        <label
          for="centerX"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="The location of the center of the target (in meters)"
          >Center X</label
        >
        <input
          type="number"
          step="any"
          class="form-control"
          name="centerX"
          id="centerX"
          onchange="valueChanged()"
          required
        />
      </div>
      <div class="col">
        <label
          for="centerY"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="The location of the center of the target (in meters)"
          >Center Y</label
        >
        <input
          type="number"
          step="any"
          class="form-control"
          id="centerY"
          name="centerY"
          onchange="valueChanged()"
          required
        />
      </div>
      <div class="col" data-3d-only="true" hidden>
        <label
          for="centerZ"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="The location of the center of the target (in meters)"
          >Center Z</label
        >
        <input
          type="number"
          step="any"
          class="form-control"
          id="centerZ"
          name="centerZ"
          onchange="valueChanged()"
          data-3d-input-only="true"
        />
      </div>
    </div>
    <div class="mb-3">
      <label
        for="radius"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="The radius of the target (in meters)"
        >Radius</label
      >
      <input
        type="number"
        step="any"
        class="form-control"
        name="radius"
        id="radius"
        onchange="valueChanged()"
        required
      />
    </div>
  </fieldset>
</form>
