<div class="row">
  <div class="col mb-3">
    <label for="positionX">Position X</label>
    <input
      type="number"
      class="form-control"
      name="positionX"
      id="positionX"
      required
    />
  </div>
  <div class="col">
    <label for="positionY">Position Y</label>
    <input
      type="number"
      class="form-control"
      id="positionY"
      name="positionY"
      required
    />
  </div>
</div>
<div class="row">
  <div class="col mb-3">
    <label for="directionX">Direction X</label>
    <input
      type="number"
      class="form-control"
      name="directionX"
      id="directionX"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="directionY">Direction Y</label>
    <input
      type="number"
      class="form-control"
      name="directionY"
      id="directionY"
      required
    />
  </div>
</div>
<div class="mb-3">
  <label for="aperture">Aperture</label>
  <input
    type="number"
    class="form-control"
    name="aperture"
    id="aperture"
    required
  />
</div>
<div class="mb-3">
  <label for="focalLength">Focal Length</label>
  <input
    type="number"
    class="form-control"
    name="focalLength"
    id="focalLength"
    required
  />
</div>
<div class="mb-3">
  <label for="numPoints">Points</label>
  <input
    type="number"
    class="form-control"
    name="numPoints"
    id="numPoints"
    required
  />
</div>
