<div class="row">
  <div class="col-md-6 mb-3">
    <label for="position_y">Position Y</label>
    <input
      type="number"
      class="form-control"
      id="position_y"
      name="position_y"
      value="0.00"
      required
    />
  </div>
  <div class="col-md-6 mb-3">
    <label for="position_x">Position X</label>
    <input
      type="number"
      class="form-control"
      name="position_x"
      id="position_x"
      value="0.0"
      required
    />
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="direction_y">Direction Y</label>
    <input
      type="number"
      class="form-control"
      name="direction_y"
      id="direction_y"
      value="1.0"
      required
    />
  </div>
  <div class="col-md-6 mb-3">
    <label for="direction_x">Direction X</label>
    <input
      type="number"
      class="form-control"
      name="direction_x"
      id="direction_x"
      value="0.0"
      required
    />
  </div>
</div>
<div class="mb-3">
  <label for="num_points">Points</label>
  <input
    type="number"
    class="form-control"
    name="num_points"
    id="num_points"
    value="1000"
    required
  />
</div>
<div class="mb-3">
  <label for="num_elements">Elements</label>
  <input
    type="number"
    class="form-control"
    name="num_elements"
    id="num_elements"
    value="5"
    required
  />
</div>
<div class="mb-3">
  <label for="pitch">Pitch</label>
  <input
    type="number"
    class="form-control"
    name="pitch"
    id="pitch"
    value="0.01"
    required
  />
</div>
<div class="mb-3">
  <label for="element_width">Element width</label>
  <input
    type="number"
    class="form-control"
    name="element_width"
    id="element_width"
    value="0.009"
    required
  />
</div>
<div class="mb-3">
  <label for="tilt_angle">Tilt angle</label>
  <input
    type="number"
    class="form-control"
    name="tilt_angle"
    id="tilt_angle"
    value="60.0"
    required
  />
</div>
<div class="mb-3">
  <label for="focal_length">Focal length</label>
  <input
    type="number"
    class="form-control"
    name="focal_length"
    id="focal_length"
    value="1"
    required
  />
</div>
<div class="mb-3">
  <label for="delay">Delay</label>
  <input
    type="number"
    class="form-control"
    name="delay"
    id="delay"
    value="0.0"
    required
  />
</div>
