<div class="row">
  <div class="col-md-6 mb-3">
    <label for="position_y">Position Y</label>
    <input
      type="number"
      class="form-control"
      id="position_y"
      name="position_y"
      value="0.00"
      required
    />
  </div>
  <div class="col-md-6 mb-3">
    <label for="position_x">Position X</label>
    <input
      type="number"
      class="form-control"
      name="position_x"
      id="position_x"
      value="0.0"
      required
    />
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="direction_y">Direction Y</label>
    <input
      type="number"
      class="form-control"
      name="direction_y"
      id="direction_y"
      value="1.0"
      required
    />
  </div>
  <div class="col-md-6 mb-3">
    <label for="direction_x">Direction X</label>
    <input
      type="number"
      class="form-control"
      name="direction_x"
      id="direction_x"
      value="0.0"
      required
    />
  </div>
</div>
<div class="mb-3">
  <label for="aperture">Aperture</label>
  <input
    type="number"
    class="form-control"
    name="aperture"
    id="aperture"
    value="0.064"
    required
  />
</div>
<div class="mb-3">
  <label for="num_points">Points</label>
  <input
    type="number"
    class="form-control"
    name="num_points"
    id="num_points"
    value="500"
    required
  />
</div>
<div class="mb-3">
  <label for="delay">Delay</label>
  <input
    type="number"
    class="form-control"
    name="delay"
    id="delay"
    value="0.0"
    required
  />
</div>
