<div class="row">
  <div class="col-md-6 mb-3">
    <label for="positionY">Position Y</label>
    <input
      type="number"
      class="form-control"
      id="positionY"
      name="positionY"
      value="0.00"
      required
    />
  </div>
  <div class="col-md-6 mb-3">
    <label for="positionX">Position X</label>
    <input
      type="number"
      class="form-control"
      name="positionX"
      id="positionX"
      value="0.0"
      required
    />
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="directionY">Direction Y</label>
    <input
      type="number"
      class="form-control"
      name="directionY"
      id="directionY"
      value="1.0"
      required
    />
  </div>
  <div class="col-md-6 mb-3">
    <label for="directionX">Direction X</label>
    <input
      type="number"
      class="form-control"
      name="directionX"
      id="directionX"
      value="0.0"
      required
    />
  </div>
</div>
<div class="mb-3">
  <label for="aperture">Aperture</label>
  <input
    type="number"
    class="form-control"
    name="aperture"
    id="aperture"
    value="0.064"
    required
  />
</div>
<div class="mb-3">
  <label for="numPoints">Points</label>
  <input
    type="number"
    class="form-control"
    name="numPoints"
    id="numPoints"
    value="500"
    required
  />
</div>
<div class="mb-3">
  <label for="delay">Delay</label>
  <input
    type="number"
    class="form-control"
    name="delay"
    id="delay"
    value="0.0"
    required
  />
</div>
