@font-face {
  font-family: manrope;
  src: url("Manrope-Regular.ttf");
}

@font-face {
  font-family: manropebold;
  src: url("Manrope-SemiBold.ttf");
}

html,
body,
.container-fluid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.parameters {
  background-color: #e4e5f1;
  position: absolute;
  width: 450px;
  height: 100%;
  padding: 10px;
  overflow: scroll;
}

.form-control-color {
  background-color: #e4e5f1;
}

.card ul li {
  background-color: #e4e5f1;
}

.accordion-body {
  background-color: #e4e5f1;
}

.accordion-button {
  background-color: #e4e5f1;
}

.accordion-item {
  --bs-accordion-border-color: #d2d3db;
}

.main-grid {
  /* background-color: #fafafa; */
  margin-left: 450px;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

.cercle-icons {
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0.95em;
  padding: 8px;
  box-sizing: border-box;
  transition: 150ms ease-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

.cercle-icons:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  transition: 150ms ease-in;
}

.edit-icon {
  background-color: #344eaa;
}

.delete-icon {
  background-color: #bf2611;
}

.lock-icon {
  background-color: #828088;
  color: white;
  border-radius: 50%;
  font-size: 0.95em;
  padding: 6px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

#content_list_container {
  padding: 2rem;
}

#simulationType {
  background-color: #e4e5f1;
}

.tooltip-inner {
  background-color: white;
  color: black;
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
  border-top-color: white;
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow::before {
  border-right-color: white;
}

/* Remove Arrows from inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
