<script>
  function setDirectionValues(fieldset, xDirection, yDirection) {
    // Update the form
    if (scenarioIs2d()) {
      fieldset.querySelector("input[name='directionX']").value = yDirection;
      fieldset.querySelector("input[name='directionY']").value = xDirection;
    } else {
      const sliceAxis = document.getElementById("sliceAxis").value;
      switch (sliceAxis) {
        case "x":
          fieldset.querySelector("input[name='directionY']").value = yDirection;
          fieldset.querySelector("input[name='directionZ']").value = xDirection;
          break;
        case "y":
          fieldset.querySelector("input[name='directionX']").value = yDirection;
          fieldset.querySelector("input[name='directionZ']").value = xDirection;
          break;
        case "z":
          fieldset.querySelector("input[name='directionX']").value = yDirection;
          fieldset.querySelector("input[name='directionY']").value = xDirection;
          break;
      }
    }
    if (!fieldset.form.checkValidity()) {
      fieldset.form.reportValidity();
    } else {
      const plotArea = document.getElementById("plotArea");
      // update label text
      const label = plotArea.querySelector("p");
      buttonName = fieldset.querySelector("button").textContent;
      label.textContent = `Press ${buttonName} to add the transducer to the simulation`;
    }
  }

  function clickToDirectionTransducerHandler(button) {
    const fieldset = button.closest("fieldset");

    showLoading("Rendering Layout...");
    disallowRunSimulation();
    clearPlotArea();

    const url = "{{ url_for('main.render_canvas') }}";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: getFullRequestBody(),
    })
      .then((response) => response.json())
      .then((data) => {
        hideLoading();

        const label = document.createElement("p");
        label.textContent = "Click on the image to position the transducer";
        label.style.textAlign = "center";
        const plotArea = document.getElementById("plotArea");
        plotArea.insertBefore(label, plotArea.firstChild);

        const clickCallback = (startX, startY, endX, endY) => {
          // the first click position is the transducer position
          setPositionValues(fieldset, startX, startY);

          // the line between the first and second click is the direction
          const xDirection = (endX - startX).toFixed(6);
          const yDirection = (endY - startY).toFixed(6);
          setDirectionValues(fieldset, xDirection, yDirection);
        };

        const canvas = plotToCanvas({
          xlim: data.xlim,
          ylim: data.ylim,
          xlabel: data.xlabel,
          ylabel: data.ylabel,
          xticks: data.xticks,
          yticks: data.yticks,
          image: data.image,
          clickCallback,
          drawLine: true,
        });
        plotArea.appendChild(canvas);
      });
  }
</script>
<div style="display: flex; justify-content: flex-end; width: 100%; padding: 0">
  <button
    type="button"
    class="btn btn-link float-right"
    style="float: right"
    onclick="clickToDirectionTransducerHandler(this)"
  >
    Place transducer
  </button>
</div>
