<div class="row">
  <div class="col mb-3">
    <label for="positionY">Position Y</label>
    <input
      type="number"
      class="form-control"
      id="positionY"
      name="positionY"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="positionX">Position X</label>
    <input
      type="number"
      class="form-control"
      name="positionX"
      id="positionX"
      required
    />
  </div>
  <div class="col mb-3" data-3d-only="true" hidden>
    <label for="positionY">Position Z</label>
    <input
      type="number"
      class="form-control"
      id="positionZ"
      name="positionZ"
      required
    />
  </div>
</div>
<div class="row">
  <div class="col mb-3">
    <label for="directionY">Direction Y</label>
    <input
      type="number"
      class="form-control"
      name="directionY"
      id="directionY"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="directionX">Direction X</label>
    <input
      type="number"
      class="form-control"
      name="directionX"
      id="directionX"
      required
    />
  </div>
  <div class="col mb-3" data-3d-only="true" hidden>
    <label for="directionZ">Direction Z</label>
    <input
      type="number"
      class="form-control"
      name="directionZ"
      id="directionZ"
      required
    />
  </div>
</div>
<div class="row" data-3d-only="true" hidden>
  <div class="col mb-3">
    <label for="centerLineY">Center Line Y</label>
    <input
      type="number"
      class="form-control"
      id="centerLineY"
      name="centerLineY"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="centerLineX">Center Line X</label>
    <input
      type="number"
      class="form-control"
      name="centerLineX"
      id="centerLineX"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="centerLineY">Center Line Z</label>
    <input
      type="number"
      class="form-control"
      id="centerLineZ"
      name="centerLineZ"
      required
    />
  </div>
</div>
<div class="mb-3">
  <label for="numPoints">Points</label>
  <input
    type="number"
    class="form-control"
    name="numPoints"
    id="numPoints"
    required
  />
</div>
<div class="mb-3">
  <label for="numElements">Elements</label>
  <input
    type="number"
    class="form-control"
    name="numElements"
    id="numElements"
    required
  />
</div>
<div class="mb-3">
  <label for="pitch">Pitch</label>
  <input type="number" class="form-control" name="pitch" id="pitch" required />
</div>
<div class="mb-3">
  <label for="elementWidth">Element width</label>
  <input
    type="number"
    class="form-control"
    name="elementWidth"
    id="elementWidth"
    required
  />
</div>
<div class="mb-3">
  <label for="tiltAngle">Tilt angle</label>
  <input
    type="number"
    class="form-control"
    name="tiltAngle"
    id="tiltAngle"
    required
  />
</div>
<div class="mb-3">
  <label for="focalLength">Focal length</label>
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      id="focalLengthCheck"
      name="focalLengthCheck"
      onchange="focalLengthCheckClick(this)"
    />
    <label class="form-check-label" for="focalLengthCheck"
      >Set focal length</label
    >
  </div>
  <input
    type="number"
    class="form-control"
    name="focalLength"
    id="focalLength"
    hidden
    required
  />
</div>
<div class="mb-3">
  <label for="delay">Delay</label>
  <input type="number" class="form-control" name="delay" id="delay" required />
</div>
<div class="mb-3" data-3d-only="true" hidden>
  <label for="height">Height</label>
  <input
    type="number"
    class="form-control"
    name="height"
    id="height"
    required
  />
</div>
