<div class="row">
  <div class="col mb-3">
    <label for="positionY">Position Y</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="positionY"
      name="positionY"
      placeholder="0.00"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="positionX">Position X</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      name="positionX"
      id="positionX"
      placeholder="0.00"
      required
    />
  </div>
  <div class="col mb-3" data-3d-only="true" hidden>
    <label for="positionY">Position Z</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="positionZ"
      name="positionZ"
      placeholder="0.00"
      required
    />
  </div>
</div>
<div class="row">
  <div class="col mb-3">
    <label for="directionX">Direction X</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      name="directionX"
      id="directionX"
      placeholder="-0.143"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="directionY">Direction Y</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      name="directionY"
      id="directionY"
      placeholder="-0.068"
      required
    />
  </div>
  <div class="col mb-3" data-3d-only="true" hidden>
    <label for="directionZ">Direction Z</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      name="directionZ"
      id="directionZ"
      placeholder="0.0"
      required
    />
  </div>
</div>
<div class="mb-3">
  <label for="aperture">Aperture</label>
  <input
    type="number"
    step="0.01"
    class="form-control"
    name="aperture"
    id="aperture"
    placeholder="0.06"
    required
  />
</div>
<div class="mb-3">
  <label for="numPoints">Points</label>
  <input
    type="number"
    class="form-control"
    name="numPoints"
    id="numPoints"
    placeholder="3000"
    required
  />
</div>
<div class="mb-3">
  <label for="delay">Delay</label>
  <input
    type="number"
    step="0.01"
    class="form-control"
    name="delay"
    id="delay"
    placeholder="0.0"
    required
  />
</div>
