<div class="row">
  <div class="col mb-3">
    <label for="positionY">Position Y</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="positionY"
      name="positionY"
      required
    />
  </div>
  <div class="col mb-3">
    <label for="positionX">Position X</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      name="positionX"
      id="positionX"
      required
    />
  </div>
  <div class="col mb-3" data-3d-only="true" hidden>
    <label for="positionY">Position Z</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="positionZ"
      name="positionZ"
      required
    />
  </div>
</div>
<div class="mb-3">
  <label for="delay">Delay</label>
  <input
    type="number"
    step="0.01"
    class="form-control"
    name="delay"
    id="delay"
    required
  />
</div>
