name: lint

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"

jobs:
  lint:
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.9"]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3.5.2

      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v4.6.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1.3.0
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Load cached poetry dependencies
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}

      - name: Install package dependencies
        run: poetry install --no-interaction --no-root

      - name: Install stride
        run: poetry run pip install git+https://github.com/trustimaging/stride@2520c59

      - name: Install napari
        run: poetry run pip install "napari[all,pyqt6_experimental]"

      - name: Install neurotechdevkit
        run: poetry install --only-root

      - name: Run linting
        run: |
          make lint-check

      - name: Run spellcheck
        run: |
          make spellcheck
