<script>
  function allowRenderLayout() {
    document.getElementById("parameters-accordion").querySelectorAll(".accordion-button[disabled]").forEach((button) => {
      button.removeAttribute("disabled")
      button.dataset.toDisable = true
    })
  }
  function disallowRenderLayout() {
    document.getElementById("parameters-accordion").querySelectorAll(".accordion-button[data-to-disable=true]").forEach((button) => {
      button.setAttribute("disabled", true)
    })
  }

  function renderLayoutPressed(button){
    BtnLoading(button)
    renderLayout()
    BtnReset(button)
  }

  function renderLayout() {
    document.getElementById("plotArea").innerHTML = ""

    const is2d = document.getElementById("is2d").checked
    const scenarioParams = getScenarioParams()
    const transducersParams = getTransducersParams()
    const targetParams = getTargetParams()
    const simulationSettingsParams = getSimulationSettingsParams()

    const data = {
      is2d: is2d,
      scenarioSettings: scenarioParams,
      transducers: transducersParams,
      target: targetParams,
      simulationSettings: simulationSettingsParams,
    }
    const url = "{{ url_for('main.render_layout') }}"
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.text())
      .then((text) => {
        document.getElementById("plotArea").innerHTML = text
      })
  }
</script>
<h1>
  <span>Parameters</span>
</h1>
<div class="btn-group">
  <input
    type="radio"
    class="btn-check"
    name="options"
    id="is2d"
    autocomplete="off"
    checked
  />
  <label class="btn btn-outline-success" for="is2d">2D</label>

  <input
    type="radio"
    class="btn-check"
    name="options"
    id="is3d"
    autocomplete="off"
    disabled
  />
  <label class="btn btn-outline-success" for="is3d">3D</label>
</div>
<div class="accordion accordion-flush" id="parameters-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#scenario-accordion-item"
        aria-expanded="false"
        aria-controls="scenario-accordion-item"
      >
        Scenario
      </button>
    </h2>
    <div
      id="scenario-accordion-item"
      class="accordion-collapse collapse show"
      data-bs-parent="#parameters-accordion"
    >
      <div class="accordion-body">
        {% include 'components/parameters/scenario.html' %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#transducers-accordion-item"
        aria-expanded="false"
        aria-controls="transducers-accordion-item"
        disabled
      >
        Transducers
      </button>
    </h2>
    <div
      id="transducers-accordion-item"
      class="accordion-collapse collapse"
      data-bs-parent="#parameters-accordion"
    >
      <div class="accordion-body">
        {% include 'components/parameters/transducers.html' %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#target-accordion-item"
        aria-expanded="false"
        aria-controls="target-accordion-item"
        disabled
      >
        Target
      </button>
    </h2>
    <div
      id="target-accordion-item"
      class="accordion-collapse collapse"
      data-bs-parent="#parameters-accordion"
    >
      <div class="accordion-body">
        {% include 'components/parameters/target.html' %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#simulation-settings-accordion-item"
        aria-expanded="false"
        aria-controls="simulation-settings-accordion-item"
        disabled
      >
        Simulation Settings
      </button>
    </h2>
    <div
      id="simulation-settings-accordion-item"
      class="accordion-collapse collapse"
      data-bs-parent="#parameters-accordion"
    >
      <div class="accordion-body">
        {% include 'components/parameters/simulation_settings.html' %}
      </div>
    </div>
  </div>
</div>
</br>
<!-- <div class="d-flex justify-content-center">
  <button
    id="renderLayout"
    class="btn btn-primary"
    type="button"
    onclick="renderLayoutPressed(this)"
    disabled
  >
    Render Layout
  </button>
</div>
</br> -->
<!-- <button id="saveSettingsButton" class="btn btn-primary" type="button">
  Save Settings
</button>
<button id="loadSettingsButton" class="btn btn-primary" type="button">
  Load Settings
</button> -->
